altair==5.5.0
blinker==1.9.0
GitPython==3.1.43
joblib
lxml==5.3.0
markdown-it-py==3.0.0
matplotlib==3.9.2
mdurl==0.1.2
numpy
openpyxl
pandas
pillow
pingouin
plotly
plotly-express==0.4.1
protobuf==5.29.1
pyarrow==18.1.0
pydeck==0.9.1
PyQt5==5.15.10
scikit-learn
scipy
seaborn
statsmodels
streamlit==1.40.2
toml==0.10.2
watchdog==6.0.0
xarray
xgboost==3.0.0
